/*
!/.gitignore
!/README.md
!/01-python-foundations.md
!/02-git.md
!/report-template/
/report-template/*
!/report-template/report.typ
!/report-template/report.pdf
!/report-template/vvsu.typ
!/labs/
/labs/*
!/labs/lab1.md
!/labs/lab2.md
/MANIFEST.md
