/MANIFEST.md
/teacher/

.ipynb_checkpoints/
__pycache__/
.DS_Store

outputs/

# Эти лабы пока не доступны
/labs/lab7/
/labs/lab8/

# Личные входные данные для работ с изображениями
/labs/lab5/mydata/
/labs/lab6/mydata/
/labs/lab6/dataset/
/labs/lab6/dataset.zip
